<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.leosimons.gdrive-sync</string>
    <key>ProgramArguments</key>
    <array>
        <string>/Users/lsimons/.local/bin/auto</string>
        <string>gdrive_sync</string>
    </array>
    <key>WatchPaths</key>
    <array>
        <string>/Volumes/LSData</string>
    </array>
    <key>StandardOutPath</key>
    <string>/Users/lsimons/.local/log/gdrive-sync.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/lsimons/.local/log/gdrive-sync-error.log</string>
</dict>
</plist>
