<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
    "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.leosimons.start-the-day</string>

    <key>ProgramArguments</key>
    <array>
        <string>/Users/lsimons/.local/bin/start-the-day</string>
        <string>--force</string>
    </array>

    <key>StartCalendarInterval</key>
    <dict>
        <key>Hour</key>
        <integer>7</integer>
        <key>Minute</key>
        <integer>0</integer>
    </dict>

    <key>RunAtLoad</key>
    <true />

    <key>StandardOutPath</key>
    <string>/Users/lsimons/.local/log/start-the-day.log</string>

    <key>StandardErrorPath</key>
    <string>/Users/lsimons/.local/log/start-the-day-error.log</string>

    <key>ProcessType</key>
    <string>Background</string>

    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>/Users/lsimons/.local/bin:/usr/local/bin:/usr/bin:/bin</string>
    </dict>
</dict>
</plist>
